<main role="main">
  <%= content_for?(:content) ? yield(:content) : yield %>
  <h1>User Profile</h1>
  <p>Username: <%= @user.username %></p>
  <p>Email: <%= @user.email %></p>
  <h2>Your Gigs</h2>
  <% if @user.gigs.length > 0 %>
    <% @user.gigs.each do |gig| %>
      <p><strong>Gig title:</strong> <%= gig.title %></p>
      <p><strong>Gig location:</strong> <%= gig.location %></p>
      <p><strong>Gig date:</strong> <%= gig.date %></p>
      <p><strong>Gig duration:</strong> <%= gig.start_time %> to <%= gig.end_time %></p>
      <p><strong>Gig ask price:</strong> <%= number_to_currency(gig.ask_price) %></p>
      <a href="#">Edit this gig</a>
      <p>------------------------------------------</p>
    <% end%>
  <% else %>
    <p>You have no gigs. Would you like to <a href="/gigs/new">create one?</a></p>
  <% end%>
  <br>
  <h2>Your Bands</h2>
  <% if @user.bands.length > 0 %>
    <% @user.bands.each do |band| %>
      <p><strong>Band name:</strong> <%= band.name %></p>
      <p><strong>Band location:</strong> <%= band.location %></p>
      <p><strong>Band style:</strong> <%= band.style %></p>
      <a href="#">Edit this band</a>
      <p>------------------------------------------</p>
    <% end %>
  <% else %>
    <p>You have no bands. Would you like to <a href="/bands/new">create one?</a></p>
  <% end%>
</main>
