<main role="main" class="main-center">
  <h1>Edit Band</h1>
  <div class="card card-center" style="max-width: 90%" %>
    <%= form_with model: @band, local: true, method: :put do |form| %>
      <p>
        <%= form.label :name %><br>
        <%= form.text_field :name, value: @band.name %>
      </p>
      <p>
        <%= form.label :location %><br>
        <%= form.text_field :location %>
      </p>
      <p>
        <%= form.label :style %><br>
        <%= form.text_field :style %>
      </p>
      <p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
      </p>
      <div class="card card-center">
        <p>Upload a demo<br>
          (mp3 format, limit 10MB):<br>
          <%= form.file_field :demo %><br>
        </div>
      </p>
      <p class="button-row">
        <%= form.submit "Update band", class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
</main>
