<main role="main">
  <%= content_for?(:content) ? yield(:content) : yield %>
  <h1>Welcome to GigBoard!</h1>
  <h2>Bands</h2>
  <ul>
    <% @bands.each do |band| %>
      <li><%= band.name %> | Location: <%= band.location %> | <%= band.style %> <%= link_to 'Show', band %></li>
    <% end %>
  </ul>
  <%= link_to 'Add a new gig band', new_band_path %>
</main>
