<main role="main">
  <h1>New Band</h1>
  <%= form_with scope: :band, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :location %><br>
      <%= form.text_field :location %>
    </p>
    <p>
      <%= form.label :style %><br>
      <%= form.text_field :style %>
    </p>
    <p>
      <%= form.label :description %><br>
      <%= form.text_field :description %>
    </p>
    <p>Upload a demo (mp3 format, limit 10MB):<br>
      <%= form.file_field :demo %><br>
    </p>
    <p>
      <%= form.submit "Add Band" %>
    </p>
  <% end %>
</main>
