<main role="main">
  <%= content_for?(:content) ? yield(:content) : yield %>
  <h1>New Band</h1>
  <%= form_with scope: :band, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :location %><br>
      <%= form.text_field :location %>
    </p>
    <p>
      <%= form.label :style %><br>
      <%= form.text_field :style %>
    </p>
    <p>
      <%= form.label :description %><br>
      <%= form.text_field :description %>
    </p>
    <p>
      <%= form.submit "Add Band" %>
    </p>
  <% end %>
</main>
