<main role="main" class="main-center">
  <div class = "content-container">
    <h1>View Band</h1>
    <div class="card">
      <h4><strong>Band name:</strong> <%= @band.name %></h4>
      <p><strong>Style:</strong> <%= @band.style %></p>
      <p><strong>Location:</strong> <%= @band.location %></p>
      <p><strong>Description:</strong></p>
      <p><%= @band.description %></p>
      <hr>
      <% if @band.demo %>
        <h5><strong>Band demo:</strong></h5>
        <audio src="<%= @band.demo %>" type="audio/mp3" controls style="width: 100%"%>Can't play audio.</audio>
      <% end %>
      <% if current_user && @band.user == current_user %>
        <div class="button-row">
          <%= button_to "Edit Band", edit_band_path(@band), method: :patch, class: "btn btn-primary" %>
          <%= button_to "Delete Band", destroy_band_path(@band), method: :delete, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
</main>
