<main role="main">
  <%= content_for?(:content) ? yield(:content) : yield %>
  <h2><%= @gig.title %></h2>
  <ul>
    <li> Location: <%= @gig.location %>  </li>
    <li> Date: <%= @gig.date %></li>
    <li> Start and end time: <%= @gig.start_time %> - <%= @gig.end_time %> </li>
    <li> Ask price: <%= number_to_currency(@gig.ask_price) %></li>
  </ul>
  <h3>Description</h3>
  <%= @gig.description %>
  <h4><%= link_to "Make an offer to play this gig", "/book" %></h4>
  <p><%= link_to "Back to Gigs", gigs_path%></p>
</main>
