<main role="main">
  <%= content_for?(:content) ? yield(:content) : yield %>
  <h1>Welcome to GigBoard!</h1>
  <h3>Search for Gigs</h3>
  <%= form_tag(gigs_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag "Search" %>
  <% end %>
  <br>
  <h2>Currently listed gigs:</h2>
  <ul>
    <% @gigs.each do |gig| %>
      <li><%= gig.title %> | Location: <%= gig.location %> | <%= number_to_currency(gig.ask_price) %> <%= link_to 'Show', gig %></li>
    <% end %>
  </ul>
  <%= link_to 'Add a new gig listing', new_gig_path %>
</main>
