<main role="main" class="main-center">
  <h1>Welcome to GigBoard!</h1>
  <h4>Search for Gigs:</h4>
  <%= form_tag(gigs_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag "Search" %>
  <% end %>
  <br>
  <% if @gigs.length > 0 %>
    <div class="gigs-index-container">
      <% @gigs.each do |gig| %>
        <article class="card" style="width: 400px;  min-height: 150px">
          <div class="gig-title">
            <h4 class="card-title"><%= gig.title %></h4>
          </div>
          <div class="gig-info">
            <p class="card-subtitle">Location: <%= gig.location %> <br>
              Ask price: <%= number_to_currency(gig.ask_price) %></p>
          </div>
          <div class="button-bottom-right">
            <%= button_to 'More info', gig, method: :get, class: "btn btn-primary" %>
          </article>
        <% end %>
        <div class="button-row">
          <%= button_to 'Add a new gig listing', new_gig_path, method: :get, class: "btn btn-primary" %>
          <%= button_to 'Back to top', gigs_path, method: :get, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% else %>
    <h2>No gigs found :(</h2>
    <p>Try searching for something else! Or...</p>
    <%= button_to 'Go back to all gigs', gigs_path, method: :get, class: "btn btn-primary" %>
  <% end%>
</main>
