<main role="main" class="main-center">
  <h2><%= @gig.title %></h2>
  <div class="card">
    <h4>Gig info:</h4>
    <ul>
      <li> Location: <%= @gig.location %>  </li>
      <li> Date: <%= @gig.date %></li>
      <li> Start and end time: <%= @gig.start_time %> - <%= @gig.end_time %> </li>
      <li> Ask price: <%= number_to_currency(@gig.ask_price) %></li>
    </ul>
    <h4>Description:</h4>
    <%= @gig.description %>
  </div>
  <% if current_user %>
    <%# Messages %>
    <% if @gig.user_id == current_user.id %>
      <h4>This gig belongs to you</h4>
      <% if check_gigs_negotiations_exist(@gig) %>
        <h4>You have an active booking request for this gig</h4>
      <% end %>
    <% end%>
    <% if check_bands_negotiations_exist(@gig) %>
      <h4>You have an active booking request for this gig (as a band)</h4>
    <% end %>
    <%# Buttons %>
    <div class = "button-row">
      <% if @gig.user_id == current_user.id %>
        <%= link_to "Edit gig", edit_gig_path, class: "btn btn-primary" %>
        <% if @active_negotiation %>
          <%= link_to "See negotiations",  negotiations_path(@gig), class: "btn btn-primary" %>
        <% end %>
      <% elsif check_bands_negotiations_exist(@gig) %>
        <%= link_to "See negotiations in user profile", user_path, method: "get", class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Request to book this gig", new_negotiation_path, method: "get", class: "btn btn-primary" %>
      <% end %>
    <% end %>
    <%= link_to "Back", :back, class: "btn btn-primary" %>
  </div>
</main>
