<main role="main">
  <h2><%= @gig.title %></h2>
  <ul>
    <li> Location: <%= @gig.location %>  </li>
    <li> Date: <%= @gig.date %></li>
    <li> Start and end time: <%= @gig.start_time %> - <%= @gig.end_time %> </li>
    <li> Ask price: <%= number_to_currency(@gig.ask_price) %></li>
  </ul>
  <h3>Description</h3>
  <%= @gig.description %>
  <% if current_user %>
    <% if @gig.user_id == current_user.id %>
      <h4>This gig belongs to you</h4>
    <% else %>
      <h4><%= link_to "Make an offer to play this gig", book_gig_path %></h4>
    <% end %>
  <% end%>
  <p><%= link_to "Back to Gigs", gigs_path%></p>
</main>
