<main role="main">
  <h3>The following band has requested to book <strong><%= link_to @gig.title, gig_path(@gig) %></strong>:</h3>
  <div class="card">
    <h4><%= @negotiation.band.name %></h4>
    <p>Style: <%= @negotiation.band.style %></p>
    <p>Description: <%= @negotiation.band.description %></p>
    <hr>
    <% if @negotiation.message %>
      <h5>A message from the band:</h5>
      <p class="card"><%= @negotiation.message %></p>
    <% end %>
    <% if @negotiation.band.demo %>
      <h5>And here's their demo:</h5>
      <audio src="<%= @negotiation.band.demo %>" type="audio/mp3" controls style="width: 100%"%>Can't play audio.</audio>
    <% end %>
  </div>
  <h4>If you accept you will need to pay a <%= number_to_currency((@negotiation.gig.ask_price) * 0.2) %> deposit and then <%= number_to_currency((@negotiation.gig.ask_price) * 0.8) %> upon completion of the gig.</h4>
  <% case @negotiation.status%>
  <% when "pending" %>
  <p>You haven't responded to this booking request yet.</p>
  <div class="button-row">
    <%= button_to "Accept booking request", accept_negotiation_path, method: :patch, class: "btn btn-success" %>
    <%= button_to "Reject booking request", reject_negotiation_path, method: :patch, class: "btn btn-danger" %>
    <%= button_to "Back to negotiations", negotiations_path(@gig), method: :get, class: "btn btn-primary" %>
  </div>
  <% when "accepted" %>
  <p>You have accepted this booking request but no deposit has been paid. Please pay the 10% deposit.</p>
  <div class="button-row">
    <%= link_to "Pay deposit", pay_negotiation_path, class: "btn btn-primary" %>
    <%= button_to "Back to negotiations", negotiations_path(@gig), method: :get, class: "btn btn-primary" %>
  </div>
  <% when "rejected" %>
  <p>You have rejected this booking request.</p>
  <div class="button-row">
    <%= button_to "Remove booking request", deactivate_negotiation_gig_path, method: :delete, class: "btn btn-danger" %>
    <%= button_to "Back to negotiations", negotiations_path(@gig), method: :get, class: "btn btn-primary" %>
  </div>
  <% when "paid" %>
  <p>You have accepted this booking request and a deposit has been paid!</p>
  <p>Please contact <%= @negotiation.band.user.email %> to confirm.</p>
<% end %>
</main>
