<main role="main" class="main-center">
  <h1>Booking Requests</h1>
  <div class="card">
    <h2><%= link_to "#{@gig.title}", gig_path(@gig) %></h2>
    <% if @negotiations.length > 1 %>
      <h3>The following bands have requested to book this gig:</h3>
    <% elsif @negotiations.length == 0 %>
      <p>No negotiations for this gig yet. Don't worry, there's a band out there for every gig...</p>
    <% else %>
      <h3>The following band has requested to book this gig:</h3>
    <% end %>
    <% @negotiations.each do |negotiation| %>
      <div class="card limit-width">
        <h4><%= negotiation.band.name %></h4>
        <p>Style: <%= negotiation.band.style %></p>
        <p>Booking status: <%= negotiation.status %></p>
        <hr>
        <% if negotiation.band.demo %>
          <h5>And here's their demo:</h5>
          <audio src="<%= negotiation.band.demo %>" type="audio/mp3" controls>Can't play audio.</audio>
        <% end %>
        <div class="button-row">
          <%= button_to "See more and accept/reject", negotiation_path(negotiation.id), method: :get, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="button-row">
    <%= link_to "Back", :back, class: "btn btn-primary" %>
  </div>
</main>
