<main role="main">
  <%= content_for?(:content) ? yield(:content) : yield %>
  <h1>Gig Negotiation</h1>
  <h3>Gig: Test</h2>
  <h3>Current ask price: $300</h2>
  <%= form_with scope: :negotiation, local: true do |form| %>
    <p>
      <%= form.label :offer_price %><br>
      <%= form.text_field :offer_price %>
    </p>
    <p>
      <%= form.label :message %><br>
      <%= form.text_area :message %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</main>
